<ion-header>
  <ion-toolbar>
    <ion-title>کاربران</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <!-- Contener -->
    <ion-grid>
      <ion-row>
        <ion-col size-md="12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Name</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>تست</th>
                <th>تست</th>
                <th>تست</th>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-content>
